.btn-Insert {
    background-color: #343a40;
    border: none;
    color: rgb(147, 245, 35);
    padding: 5px 15px;
    display: inline-block;
    margin-left: none;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #ffbf00;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
}

.btn-Insert:hover {
    background-color: white;
    color: black;

}


/* ..........css Delete Button Start............ */
.btn-Delete {
    display: inline-block;
    border-radius: 50%;
    background-color: #8c8c8c;
    background-color: rgba(236, 22, 22, 0.75);
    color: #fff;
    border: 0 none;
    padding: 0;
    text-align: center;
    width: 2.6em;
    height: 2.6em;
    line-height: 2.6em;
    position: relative;
    transition: all 0.25s ease-in-out;
}


.btn-Delete:hover {
    background-color: black;
    color: rgb(white, 252, 252);
}


.btn-Delete:hover:before {
    animation: social-button-beat 1.5s ease-out infinite;
}


.btn-Delete:hover:after {
    animation: social-button-beat 1.5s ease-out 0.4s infinite;
}


.btn-Delete:before,


.btn-Delete:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #e44848;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.25s ease-in-out;
}

@-moz-keyframes social-button-beat {
    0% {
        opacity: 0.8;
        transform: scale(1.3);
    }

    70% {
        opacity: 0;
        transform: scale(1.5);
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes social-button-beat {
    0% {
        opacity: 0.8;
        transform: scale(1.3);
    }

    70% {
        opacity: 0;
        transform: scale(1.5);
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes social-button-beat {
    0% {
        opacity: 0.8;
        transform: scale(1.3);
    }

    70% {
        opacity: 0;
        transform: scale(1.5);
    }

    100% {
        opacity: 0;
    }
}

@keyframes social-button-beat {
    0% {
        opacity: 0.8;
        transform: scale(1.3);
    }

    70% {
        opacity: 0;
        transform: scale(1.5);
    }

    100% {
        opacity: 0;
    }
}

/* ..........End............ */